.container {
  position: absolute;
  top: 50px;
  right: 10px;
  width: 150px;
  height: fit-content;
  border-radius: 20px;
  background-color: var(--secondary);
  border: 2px solid var(--primary);
  z-index: 2;
  li {
    padding: 5px 15px;
    font-weight: 700;
    color: var(--primary);
    border-radius: 20px;
    text-align: right;
    cursor: pointer;
    &:hover {
      background-color: var(--primary);
      color: var(--secondary);
    }
  }
}
